<h1> Location: <%= @trip.location %> </h1>
<h2> Date Visited: <%= @trip.date %> </h2>


<%= image_tag @trip.cover_photo, :style => "max-height:300px"%>


<h2> More Photos </h2>

<% @trip.photos.each do |photo| %>
    <%= image_tag photo.file, :style => "max-height:300px"%> <br>
    Tag: <%= photo.category %> <br>
    
 <% end %> <br>

<%= link_to "Public Profile", trips_path(@user) %> <br>
 
<%= link_to "Add a photo", new_trip_photo_path(@trip) %> <br>



 