<h1> Trip: <%= @trip.location %> - <%= @trip.date %></h1>

<% if !@trip.cover_photo.blank? %> 

<%= image_tag @trip.cover_photo, :style => "max-height:300px"%>
<% end %>

<% if @trip.private %> 
    <h3> This trip is private </h3>
    <% else %>
    <h3> This trip is not private </h3>
<% end %>



<h2> Gallery </h2>

<% if @trip.photos.blank? %> 
    <h3> No photos yet </h3>
  
<% else %>
<% @trip.photos.each do |photo| %>
    <%= link_to photo_path do %>
        <%= image_tag photo.file, :style => "max-height:300px"%> <br>
    <% end %>
    Tag: <%= photo.category %> <br>
   
<% end %>
<% end %> <br>
 
 
<% if logged_in? %>
<%= link_to "Add a photo to gallery", new_trip_photo_path(@trip) %> <br>

<% else %>

<% end %>


