<h1> Signup </h1>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message|%>
  <h3 style="color:red" ><%= message %> </h3>
  <%end%>
<%end%>

</br>
<%= form_for @user, url:'/signup' do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %> <br>

    <%= f.label :username %>
    <%= f.text_field :username %> <br>
 
    <%= f.label :password %>
    <%= f.password_field :password %> 
    <p>Password must be at least 6 characters </p>

    <%= f.submit "Submit" %> <br>
    <%= link_to "Already have an accout", new_session_path %> <br>
 
 <% end %>