
<h1> <%= @user.username %>'s Dashboard </h1>



<h2> Saved Trips </h2>
<h3> Click on a trip for more information and photos </h3>

<% if @user == current_user %>
    <% @user.trips.each do |trip| %>
        <li><%= link_to trip.location, user_trip_path(@user, trip) %></li>
    <% end %> <br>
<% else %>
    <% if @user.trips.private == false %>
    <% @user.trips.each do |trip| %>
        <li><%= link_to trip.location, user_trip_path(@user, trip) %></li>
    <% end %>
    <% end %> <br>
<% end %>

<script>
 console.log(current_user);
</script>


<%= link_to "Add a trip", new_user_trip_path(@user) %> <br>

<%= link_to "Public Profile", trips_path(@user) %> <br>