<h1> Add a new photo to <%= @trip.location %> Trip</h1>

<%= form_for ([@trip, @photo]) do |f| %>
    <%= f.label :category %>
    <%= f.text_field :category %> <br>

    <%= f.label :file %>
    <%= f.file_field :file %> <br>
    
    <% if @trip %>
        <%= f.hidden_field :trip_id,  :value => @trip.id %>
    <% end %>

    <%= f.submit "Submit" %>

<% end %>

