<h1> Add a new photo to <%= @trip.location %> Trip</h1>

<%= form_for ([@trip, @photo]) do |f| %>
    <%= f.label :category %>
    <%= f.select :category, ["Landscape", "Portrait", "Food"]  %> <br>

    <%= f.label :file %>
    <%= f.file_field :file %> <br>
    

<%= f.hidden_field :trip_id, :value => @trip.id %>


    <%= f.submit "Submit" %>

<% end %>

